/* Adicione no styles.css */

a{text-decoration: none;
  color:grey;}
body{background-color:rgb(209, 245, 240)}
.my-face{width:300px;height:300px;transition: transform 1s;}
.my-face:hover{border:solid 1px; border-color: rgb(59, 4, 4);transform: scale(1.1);transition-duration: 2s;}
.subtext{color:grey;}
.size-img{transition: transform 1s;}
.size-img:hover{
  transform: scale(1.03);
  transition-duration: 1s;
  border-radius: 5px;
}
.bg-navbar{transition: background-color 0.2s ease;}
.bg-navbar.scrolled{background-color: rgb(143, 223, 212);}
.form-contact{ color: rgb(0, 0, 0);}
.bg-yellow{background-color: rgb(28, 189, 167);}
.move-right{transition:transform 2s;}
.move-right:hover{
  transform: translate(5%);color:  rgb(202, 202, 202);
}
.card-mod{border: solid  rgb(37, 168, 151);border-radius: 10px; background-color: rgb(219, 245, 241);}
.button-bg:hover{border: solid  rgb(37, 168, 151);color:rgb(0, 95, 82);border-radius: 10px; background-color: rgb(180, 243, 235);}
.text-change{color: black;font-family: Arial, Helvetica, sans-serif;}
.text-change:hover{color: rgb(63, 63, 63);transition-duration: 1s;}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
  }
@keyframes size-img{
  0%,100%{transform: translateY(0);}50%{transform: translateY(-10px);}
}

  
  section {
    animation: fadeIn 1s ease-in-out;
  }
  


.container-contact {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.info, form {
    flex: 1;
    min-width: 300px;
    margin: 10px;
}

.form-group-contact {
    
    margin-left: -250px;
}

.button-bg {
    align-self: flex-start;
}


